.header {
  position: absolute;
  top: 20px;
  left: 8.33%;
  right: 8.33%;
  z-index: 99;

  @media only screen and (min-width: $lg-min-width) {
    max-width: 1320px;
    margin: 0 auto;
  }

  .logo {
	display: block;
    float: left;
    width: 60%;
    margin-top: 5px;

    @media only screen and (min-width: $sm-min-width) {
      width: 25%;
      margin-top: 10px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  nav {
    font-family: $oswald;
    display: block;
    width: 70%;
    float: right;
    margin-top: 20px;

    @media only screen and (min-width: $md-min-width) {
      margin-top: 10px;
    }

    button.menu-toggle {
      color: #000;
      display: block;
      position: absolute;
      padding: 0 0 10px 20px;
      text-transform: uppercase;
      right: 0;
      top: 0;
      z-index: 999;
      outline: none;
      background: none;
      cursor: pointer;
      border: 0;


      @media only screen and (min-width: $md-min-width) {
        display: none
      }

      &.menu-active {
        color: #fff;
      }
    }

    ul {
      display: none;
      list-style: none;
      line-height: 1;
      margin: 0;
      padding: 50px 8.33% 0;
      position: fixed;
      background: $orange;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      @media only screen and (min-width: $md-min-width) {
        padding: 0;
        display: block;
        margin-left: 3vw;
        float: left;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        background: transparent;
      }

      @media only screen and (min-width: $lg-min-width) {
        margin-left: 35px;
      }

      &.active {
        display: block;
        overflow: auto;
      }

      li {
        display: block;
        margin: 6vh 0;

        @media only screen and (min-width: $md-min-width) {
          vertical-align: top;
          margin: 5px 1.3vw;
          display: inline-block;
        }

        @media only screen and (min-width: $lg-min-width) {
          margin: 10px 28px;
        }

        a {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 7vw;
          color: #fff;

          @media only screen and (min-width: $md-min-width) {
            font-size: 1vw;
            color: #000;
          }
          @media only screen and (min-width: $lg-min-width) {
            font-size: 14px;
          }

          &.button {
            padding: 10px;
            background: $orange;
            color: #fff;
            @media only screen and (max-width: $sm-max-width) {
              padding: 0;
              background: transparent;
            }
          }

          &.active {
            @media only screen and (min-width: $md-min-width) {
              border-bottom: 2px solid $orange;
            }
          }
        }
      }

      &.social-items {
        float: right;
        margin-top: 0;
        margin-left: 0;
        z-index: 999;
        position: fixed;
        bottom: 20px;
        top: auto;
        padding-top: 0;

        @media only screen and (min-width: $md-min-width) {
          position: relative;
          bottom: auto;
          margin-top: 0px;
        }
        @media only screen and (min-width: $lg-min-width) {
          margin-top: -5px;
        }

        li {
          display: inline-block;
          margin: 0;

          @media only screen and (min-width: $sm-min-width) {
            margin-right: 10px;
          }

          a {
            display: block;
            &.facebook, &.twitter {
              width: 50px;

              @media only screen and (min-width: $md-min-width) {
                width: 2.5vw;
              }

              @media only screen and (min-width: $lg-min-width) {
                width: 35px;
              }

              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

body#home .header {
  nav button.menu-toggle, ul li a {
    color: #fff;
  }
}
