@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700|Roboto:300,300i,400,400i,500,500i,700,700i');

h1, h2, h3, h4, h5 {
  font-family: $oswald;
}

h1 {
  font-weight: 500;
  font-size: 10vw;
  margin-bottom: 15vw;

  @media only screen and (min-width: $sm-min-width) {
	font-size: 5vw;
  }

  @media only screen and (min-width: $md-min-width) {
	font-size: 4vw;
	margin-bottom: 80px;
  }

  @media only screen and (min-width: $lg-min-width) {
    font-size: 50px;
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 8vw;
  margin-bottom: 15px;

  @media only screen and (min-width: $sm-min-width) {
	font-size: 5vw;
  }
  @media only screen and (min-width: $md-min-width) {
	font-size: 3vw;
  }
  @media only screen and (min-width: $lg-min-width) {
	font-size: 36px;
  }
}

.pullquote, h3 {
  font-family: $oswald;
  font-size: 7.5vw;
  font-weight: 200;
  line-height: 1.2;

  @media only screen and (min-width: $sm-min-width) {
	font-size: 5vw;
  }
  @media only screen and (min-width: $md-min-width) {
	font-size: 3vw;
  }
  @media only screen and (min-width: $lg-min-width) {
	font-size: 36px;
  }

  &.orange-text {
	color: $orange;
  }

  p {
	margin-top: 0;
  }
}

ul + .pullquote {
  margin-top: 60px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  color: $orange;
  font-family: $oswald;
  font-size: 20px;
  font-weight: 400;
}

h5 {
  margin: 0;
  font-size: 1em;
}

h5 + p {
  margin-top: 10px;
}

p + h5 {
  margin: 50px 0 0;
}

b {
  font-weight: 800;
}

.highlighter {
  margin-left: 10px;
  margin-right: 40px;

  @media only screen and (min-width: $sm-min-width) {
	margin-left: 20px;
  }

  > * {
	background: #fff;
	box-shadow: 30px 0 0 #fff, -10px 0 0 #fff;
	line-height: 1.6;
	display: inline;

	@media only screen and (min-width: $sm-min-width) {
	  box-shadow: 50px 0 0 #fff, -20px 0 0 #fff;
	}
  }

  &.orange > * {
	color: #fff;
	background: $orange;
	box-shadow: 30px 0 0 $orange, -10px 0 0 $orange;

	@media only screen and (min-width: $sm-min-width) {
	  box-shadow: 50px 0 0 $orange, -20px 0 0 $orange;
	}

	a {
	  color: #fff !important;
	}
  }

  &.grey > * {
	background: $grey;
	box-shadow: 50px 0 0 $grey, -20px 0 0 $grey;
  }
}